.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/node_modules/**
**/media/react-app/**       # If you keep the React source separately
**/src/**
**/tsconfig.json
**/package-lock.json
**/.env
**/.gitignore
**/README.md
**/build/
